@mixin title {
	font-style: normal;
	font-weight: 600;
	font-size: 28px;
	line-height: 36px;
	margin-bottom: 81px;
}
@mixin name {
	font-style: normal;
	font-weight: 600;
	font-size: 34px;
	line-height: 44px;
}
@mixin span {
	font-family: "IBM Plex Sans";
	font-style: normal;
	font-weight: 600;
	font-size: 28px;
	line-height: 36px;
	color: #7c9cbf;
}
*,
*:before,
*:after {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
	text-decoration: none;
}

body {
	font-family: "IBM Plex Sans", sans-serif;
	box-sizing: border-box;
	color: #2c2738;
}

.wrapper {
	padding: 60px 60px 180px 60px;
	height: 100vh;
	background: #ebf4f8;
}
.container {
	width: 100%;
	height: 100%;
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
}
.typeface {
	margin-bottom: 80px;
	&__span {
		@include span;
	}
	&__title {
		@include title;
	}

	&__img {
		margin-right: 60px;
	}
	&__fonts {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__content {
		display: flex;
	}

	&__source {
		font-style: normal;
		font-weight: 600;
		font-size: 20px;
		line-height: 28px;
		color: #7c9cbf;
	}

	&__name {
		@include name;
	}

	&__font {
	}

	&__style {
		font-weight: 400;
		font-size: 20px;
		line-height: 26px;
		&:nth-of-type(2) {
			font-family: "IBM Plex Sans";
			font-style: normal;
			font-weight: 600;
		}
	}

	&__links {
	}

	&__link-title {
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 21px;
	}

	&__link {
		font-weight: 400;
		font-size: 16px;
		line-height: 21px;
		text-decoration-line: underline;
		color: #0880ae;
	}
}

.colors {
	&__span {
		@include span;
	}
	&__title {
		@include title;
	}

	&__group {
		display: grid;
		grid-template-columns: 20% 20% 20% 20%;
		gap: 40px;
	}
}

.color {
	width: 300px;
	height: 300px;
	background: #0880ae;
	box-shadow: 0px 16px 56px rgba(44, 39, 56, 0.08);
	border-radius: 15%;
	display: grid;
	align-content: end;
	margin-bottom: 80px;
	color: #ffffff;

	&:nth-of-type(2) {
		background-color: #f2ac57;
		color: #ffffff;
	}
	&:nth-of-type(3) {
		background-color: #14a38b;
	}
	&:nth-of-type(4) {
		background-color: #ff7171;
	}
	&:nth-of-type(5) {
		background-color: #2c2738;
	}
	&:nth-of-type(6) {
		background-color: #756f86;
	}
	&:nth-of-type(7) {
		background-color: #7c9cbf;
		color: #2c2738;
	}
	&:nth-of-type(8) {
		background-color: #ffffff;
		color: #2c2738;
	}
	&:nth-of-type(9) {
		background-color: #dbe2ea;
		color: #2c2738;
	}
	&:nth-of-type(10) {
		background-color: #ebf4f8;
		color: #2c2738;
	}

	&__label {
		margin-left: 40px;
		opacity: 0.56;
	}

	&__name {
		@include name;
		margin-left: 40px;
		margin-bottom: 40px;
	}
}

.icons {
	&__span {
		@include span;
	}
	&__title {
		@include title;
	}

	&__group {
		padding: 30px 24px;
		margin-bottom: 40px;
		background-color: #ffffff;
		border-radius: 13px;
		color: #0880ae;
		&:nth-of-type(2) {
			background-color: #7c9cbf;
			color: #ffffff;
		}
		&:nth-of-type(3) {
			color: #2c2738;
		}
	}

	&__img {
		margin: 24px;
	}
}

// FORMS

.form {
	display: inline-block;
	padding: 25px;
	width: 500px;

	&__span {
		@include span;
	}
	&__title {
		@include title;
	}
}

.form__field {
	&:nth-of-type(2) .form__input:focus {
		border: 3px solid #0880ae;
	}
	&:nth-of-type(3) .form__input {
		background-image: url(img/Lens.svg);
		background-repeat: no-repeat;
		background-position: right;
	}
	&:nth-of-type(4) .form__select {
	}
	&:nth-of-type(5) .form__select {
		opacity: 0.24;
	}
	&:nth-of-type(6) .form__textarea:focus {
		outline: none;
	}
	&:nth-of-type(7) .form__textarea:focus {
		border: 3px solid #0880ae;
	}
}
.form__select {
	display: block;
	width: 100%;
	border-radius: 2px;
	border: 1px solid #ccc;
	padding: 10px;
	box-sizing: border-box;
	margin-bottom: 10px;
	border-radius: 7px;
	outline: none;
	margin-bottom: 40px;
}
.form__textarea {
	width: 100%;
	height: 10rem;
	resize: none;
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	color: #7c9cbf;
	padding: 10px;
	border-radius: 7px;
	margin-bottom: 40px;
}
.form__textarea:invalid:not(:placeholder-shown) {
	border-color: red;
}
.form__textarea:invalid:not(:placeholder-shown) + .form__error {
	display: block;
}

.form__label {
	font-weight: 500;
	font-size: 16px;
	line-height: 21px;
	color: #756f86;
	margin-bottom: 10px;
}

.form__error {
	color: red;
	text-align: left;
	font-size: 12px;
	display: block;
	margin-top: 3px;
	display: none;
}

.form__true {
	color: rgb(82, 57, 57);
	text-align: left;
	font-size: 12px;
	display: block;
	margin-top: 3px;
	display: none;
}

.form__input {
	outline: none;
	display: block;
	width: 100%;
	border-radius: 2px;
	border: 1px solid #ccc;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 7px;
	margin-bottom: 40px;
}

input:valid:not(:placeholder-shown) + .form__true {
	display: block;
}

input:invalid:not(:placeholder-shown) {
	border-color: red;
}
input:invalid:not(:placeholder-shown) + .form__error {
	display: block;
}
