@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap");
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #2c2738;
}

.wrapper {
  padding: 60px 60px 180px 60px;
  height: 100%;
  background: #ebf4f8;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.typeface {
  margin-bottom: 80px;
}
.typeface__span {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #7c9cbf;
}
.typeface__title {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 81px;
}
.typeface__img {
  margin-right: 60px;
}
.typeface__fonts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.typeface__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.typeface__source {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #7c9cbf;
}
.typeface__name {
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 44px;
}
.typeface__style {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}
.typeface__style:nth-of-type(2) {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 600;
}
.typeface__link-title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}
.typeface__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #0880ae;
}

.colors__span {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #7c9cbf;
}
.colors__title {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 81px;
}
.colors__group {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 40px 20% 40px 20% 40px 20%;
  grid-template-columns: 20% 20% 20% 20%;
  gap: 40px;
}

.color {
  width: 300px;
  height: 300px;
  background: #0880ae;
  -webkit-box-shadow: 0px 16px 56px rgba(44, 39, 56, 0.08);
          box-shadow: 0px 16px 56px rgba(44, 39, 56, 0.08);
  border-radius: 15%;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: end;
      align-content: end;
  margin-bottom: 80px;
  color: #ffffff;
}
.color:nth-of-type(2) {
  background-color: #f2ac57;
  color: #ffffff;
}
.color:nth-of-type(3) {
  background-color: #14a38b;
}
.color:nth-of-type(4) {
  background-color: #ff7171;
}
.color:nth-of-type(5) {
  background-color: #2c2738;
}
.color:nth-of-type(6) {
  background-color: #756f86;
}
.color:nth-of-type(7) {
  background-color: #7c9cbf;
  color: #2c2738;
}
.color:nth-of-type(8) {
  background-color: #ffffff;
  color: #2c2738;
}
.color:nth-of-type(9) {
  background-color: #dbe2ea;
  color: #2c2738;
}
.color:nth-of-type(10) {
  background-color: #ebf4f8;
  color: #2c2738;
}
.color__label {
  margin-left: 40px;
  opacity: 0.56;
}
.color__name {
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 44px;
  margin-left: 40px;
  margin-bottom: 40px;
}

.icons__span {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #7c9cbf;
}
.icons__title {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 81px;
}
.icons__group {
  padding: 30px 24px;
  margin-bottom: 40px;
  background-color: #ffffff;
  border-radius: 13px;
  color: #0880ae;
}
.icons__group:nth-of-type(2) {
  background-color: #7c9cbf;
  color: #ffffff;
}
.icons__group:nth-of-type(3) {
  color: #2c2738;
}
.icons__img {
  margin: 24px;
}

.form {
  padding: 25px;
  width: 500px;
  margin-bottom: 80px;
}
.form__title {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 81px;
}
.form__span {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #7c9cbf;
}
.form__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100% 80px 100% 80px 100%;
  grid-template-columns: repeat(3, 100%);
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
}
.form__label {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #756f86;
  padding-top: 48px;
  margin-bottom: 10px;
}
.form__input {
  outline: none;
  display: block;
  width: 100%;
  border-radius: 2px;
  border: 1px solid #ccc;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 7px;
}
.form__error {
  color: red;
  text-align: left;
  font-size: 12px;
  display: block;
  margin-top: 8px;
  display: none;
}
.form__true {
  color: #14a38b;
  text-align: left;
  font-size: 12px;
  margin-top: 8px;
  display: none;
}
.form__textarea {
  width: 100%;
  height: 10rem;
  resize: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #7c9cbf;
  padding: 10px;
  border-radius: 7px;
  margin-bottom: 40px;
}

.form__field:nth-last-child(1) .form__input {
  border: none;
  outline: 2px solid #0880ae;
  background-image: url(img/Alert.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.form__fields:nth-child(2) .form__field:nth-last-child(5) .form__input:nth-child(2) {
  background-image: url(img/arrow.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.form__fields:nth-child(1) .form__field:nth-last-child(6) .form__input:nth-child(2):focus {
  border: none;
  outline: 2px solid #0880ae;
}

.form__fields:nth-child(1) .form__field:nth-last-child(5) .form__input:nth-child(2) {
  background-image: url(img/Lens.svg);
  background-repeat: no-repeat;
  background-position: right;
}

input:valid:not(:-moz-placeholder-shown) + .form__true {
  display: block;
}

input:valid:not(:-ms-input-placeholder) + .form__true {
  display: block;
}

input:valid:not(:placeholder-shown) + .form__true {
  display: block;
}

input:invalid:not(:-moz-placeholder-shown) {
  border-color: red;
}

input:invalid:not(:-ms-input-placeholder) {
  border-color: red;
}

input:invalid:not(:placeholder-shown) {
  border-color: red;
}

input:invalid:not(:-moz-placeholder-shown) + .form__error {
  display: block;
}

input:invalid:not(:-ms-input-placeholder) + .form__error {
  display: block;
}

input:invalid:not(:placeholder-shown) + .form__error {
  display: block;
}

.form__textarea:invalid:not(:-moz-placeholder-shown) {
  border-color: red;
}

.form__textarea:invalid:not(:-ms-input-placeholder) {
  border-color: red;
}

.form__textarea:invalid:not(:placeholder-shown) {
  border-color: red;
}

.form__textarea:invalid:not(:-moz-placeholder-shown) + .form__error {
  display: block;
}

.form__textarea:invalid:not(:-ms-input-placeholder) + .form__error {
  display: block;
}

.form__textarea:invalid:not(:placeholder-shown) + .form__error {
  display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.form__select-dropbtn {
  background-color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #2c2738;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: start;
  padding: 16px 0 16px 16px;
  background-image: url(img/arrow-bottom.svg);
  background-repeat: no-repeat;
  background-position: right;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.form__select-dropbtn:hover,
.form__select-dropbtn:focus {
  border: none;
  outline: 2px solid #0880ae;
}

.form__select-dropdown-content {
  display: none;
  position: relative;
  background-color: #ffffff;
  min-width: 160px;
  overflow: auto;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  max-width: 100%;
  border-radius: 6px;
  margin-top: 5px;
}

.form__select-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #756f86;
  text-decoration: none;
  display: block;
  padding: 15px 0 12px 15px;
}

.form__select-link:hover {
  background-color: #ebf4f8;
}

.show {
  display: block;
}

.counters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px;
}
.counters__counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 40px;
}
.counters__counter:last-child {
  margin-right: 0;
}
.counters__counter-minus {
  border: solid 1px rgb(219, 226, 234);
  background: #ffffff;
  -webkit-box-shadow: inset -1px 0px 0px #dbe2ea;
          box-shadow: inset -1px 0px 0px #dbe2ea;
  border-radius: 6px 0px 0px 6px;
  padding: 19px 23px;
  color: #0880ae;
  font-weight: 400;
  font-size: 20px;
  cursor: pointer;
}
.counters__counter-input {
  border: solid 1px rgb(219, 226, 234);
  text-align: center;
  padding: 16px 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #2c2738;
}
.counters__counter-plus {
  border: solid 1px rgb(219, 226, 234);
  background-color: #fff;
  -webkit-box-shadow: inset 1px 0px 0px #dbe2ea;
          box-shadow: inset 1px 0px 0px #dbe2ea;
  border-radius: 0px 6px 6px 0px;
  padding: 19px 23px;
  color: #0880ae;
  font-weight: 400;
  font-size: 20px;
  cursor: pointer;
}

.counters__counter:nth-last-of-type(1) .counters__counter-minus {
  background-color: transparent;
  color: #979797;
}

.counters__counter:nth-last-of-type(1) .counters__counter-plus {
  background-color: transparent;
  color: #979797;
}

.counters__counter:nth-last-of-type(1) .counters__counter-input {
  background-color: transparent;
  color: #979797;
}

.counters__counter:nth-last-of-type(2) .counters__counter-plus {
  background-color: #0880ae;
  color: #fff;
}

.counters__counter:nth-last-of-type(3) .counters__counter-minus {
  background-color: #0880ae;
  color: #fff;
}

.checkboxes {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 40px 1fr;
  grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 40px 1fr 40px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  margin-bottom: 80px;
}

.checkboxes > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.checkboxes > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.checkboxes > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.checkboxes > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.checkboxes > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.checkboxes > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.checkboxes__label {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkboxes__checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkboxes__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
}

.checkboxes__label:hover input ~ .checkboxes__checkmark {
  background-color: #ccc;
}

.checkboxes__checkbox:checked ~ .checkboxes__checkmark {
  background-color: #ffffff;
  border: 2px solid #0880ae;
}

.checkboxes__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkboxes__label input:checked ~ .checkboxes__checkmark:after {
  display: block;
}

.checkboxes__checkmark:after {
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid #0880ae;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  text-align: center;
}

.checkboxes__label:nth-of-type(3) .checkboxes__checkmark:after {
  border-width: 0 2px 0px 0;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.checkboxes__label:nth-of-type(6) .checkboxes__checkmark:after {
  border-width: 0 2px 0px 0;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.radio__buttons {
  margin-bottom: 80px;
}
.radio__button:first-of-type {
  margin-bottom: 30px;
}
.radio__label {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #756f86;
  margin-right: 50px;
}
.radio__input {
  vertical-align: middle;
  margin-right: 8px;
  width: 24px;
  height: 24px;
  background: #ffffff;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  font: inherit;
  width: 1.15em;
  height: 1.15em;
  border: 2px solid #dbe2ea;
  border-radius: 50%;
  -webkit-transform: translateY(-0.075em);
          transform: translateY(-0.075em);
  -webkit-box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.08);
          box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.08);
}
.radio__input::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 120ms -webkit-transform ease-in-out;
  transition: 120ms -webkit-transform ease-in-out;
  transition: 120ms transform ease-in-out;
  transition: 120ms transform ease-in-out, 120ms -webkit-transform ease-in-out;
}

.radio__input:checked::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.radio__input:focus {
  outline: 2px solid #0880ae;
  outline-offset: 2px;
  background-color: #0880ae;
  border: 4px solid #ffffff;
}

.switchers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 30%;
  grid-template-columns: 30% 30%;
  margin-bottom: 80px;
}

.switcher__input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}
.switcher__input[type=checkbox]:checked + .switcher__title {
  background: #0880ae;
}
.switcher__input[type=checkbox]:checked + .switcher__title::before {
  width: 24px;
  height: 24px;
  left: calc(100% - 4px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  margin-top: -2px;
}
.switcher__title {
  display: block;
  cursor: pointer;
  width: 53px;
  height: 30px;
  background: rgb(228, 230, 232);
  border: 1px solid #dbe2ea;
  border-radius: 100px;
  position: relative;
}
.switcher__title::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 24px;
  height: 24px;
  background: #fff;
  border-radius: 90px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid #dbe2ea;
  -webkit-box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.2);
          box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.2);
  margin-top: -2px;
}
.switcher__title::after {
  content: "Label";
  margin-left: 58px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #756f86;
  vertical-align: sub;
}

.sliders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px;
}
.sliders__slider-container {
  position: relative;
  width: 353px;
}
.sliders__slider-container:first-of-type {
  margin-right: 66px;
}

.slider-container__bar {
  position: absolute;
  z-index: 1;
  left: 2px;
  top: 7px;
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background-color: #dbe2ea;
  overflow: hidden;
}
.slider-container__fill {
  display: block;
  width: 0;
  height: 100%;
  background-color: #0880ae;
}
.slider-container__input {
  position: relative;
  z-index: 2;
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  outline: none;
  background-color: transparent;
  width: 100%;
  max-width: 235px;
}

.slider-container__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid #dbe2ea;
  cursor: pointer;
  outline: none;
  -webkit-box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.2);
          box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.2);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.slider-container__input::-webkit-slider-thumb:hover {
  -webkit-box-shadow: 0px 4px 8px rgba(36, 33, 44, 0.2);
          box-shadow: 0px 4px 8px rgba(36, 33, 44, 0.2);
}

.slider-container__input:active::-webkit-slider-thumb {
  -webkit-box-shadow: 0px 4px 8px rgba(6, 6, 194, 0.2);
          box-shadow: 0px 4px 8px rgba(6, 6, 194, 0.2);
}

.slider-container__input:disabled::-webkit-slider-thumb {
  background: #ebf4f8;
}

.tags-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px;
}
.tags-buttons__btn {
  position: relative;
  -webkit-box-shadow: 0px 1px 2px rgba(44, 39, 56, 0.0001), 0px 2px 4px rgba(44, 39, 56, 0.08);
          box-shadow: 0px 1px 2px rgba(44, 39, 56, 0.0001), 0px 2px 4px rgba(44, 39, 56, 0.08);
  border-radius: 17px;
  padding: 8px 39px 8px 16px;
  background: #ffffff;
  border: 1px solid #dbe2ea;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  cursor: pointer;
  margin-right: 20px;
}
.tags-buttons__btn:last-child {
  margin-left: 0;
}
.tags-buttons__btn::after {
  content: "";
  width: 2px;
  height: 18px;
  background: #ffffff;
  display: block;
  -webkit-transform: rotate(45deg) translateX(0px);
          transform: rotate(45deg) translateX(0px);
  position: absolute;
  top: 0;
  margin-left: 50px;
  margin-top: 8px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.tags-buttons__btn::before {
  content: "";
  width: 2px;
  height: 18px;
  background: #ffffff;
  display: block;
  -webkit-transform: rotate(45deg) translateX(0px);
          transform: rotate(45deg) translateX(0px);
  position: absolute;
  top: 0;
  margin-left: 50px;
  margin-top: 8px;
}

.tags-buttons__btn:nth-last-child(6) {
  color: #7c9cbf;
}
.tags-buttons__btn:nth-last-child(6)::after {
  background: #7c9cbf;
}
.tags-buttons__btn:nth-last-child(6)::before {
  background: #7c9cbf;
}

.tags-buttons__btn:nth-last-child(5) {
  background: #2c2738;
  color: #ffffff;
}

.tags-buttons__btn:nth-last-child(4) {
  background: #0880ae;
}

.tags-buttons__btn:nth-last-child(3) {
  background: #f2ac57;
}

.tags-buttons__btn:nth-last-child(2) {
  background: #14a38b;
}

.tags-buttons__btn:nth-last-child(1) {
  background: #ff7171;
}

.buttons {
  width: 520px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 80px;
}
.buttons__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.buttons__group:nth-last-child(1) .buttons__button {
  background-color: transparent;
  border: 2px solid rgba(44, 39, 56, 0.24);
  color: #2c2738;
}
.buttons__group:nth-last-child(1) .buttons__button:nth-last-child(1) {
  opacity: 0.24;
}
.buttons__group:nth-last-child(1) .buttons__button:nth-last-child(2) {
  color: #756f86;
  border: 2px solid #756f86;
}
.buttons__group:nth-last-child(1) .buttons__button:nth-last-child(3) {
  color: #0880ae;
  border: 2px solid #0880ae;
}
.buttons__group:nth-last-child(1) .buttons__button:nth-last-child(4) {
  color: #7c9cbf;
  border: 2px solid #7c9cbf;
}
.buttons__group:nth-last-child(2) .buttons__button {
  color: #ebf4f8;
  background: #0880ae;
  -webkit-box-shadow: 0px 6px 12px rgba(44, 39, 56, 0.08), 0px 12px 24px rgba(44, 39, 56, 0.16);
          box-shadow: 0px 6px 12px rgba(44, 39, 56, 0.08), 0px 12px 24px rgba(44, 39, 56, 0.16);
}
.buttons__group:nth-last-child(2) .buttons__button:nth-last-child(1) {
  background: #dbe2ea;
  -webkit-box-shadow: 0px 2px 4px rgba(44, 39, 56, 0.08);
          box-shadow: 0px 2px 4px rgba(44, 39, 56, 0.08);
  color: #2c2738;
  opacity: 0.24;
}
.buttons__group:nth-last-child(2) .buttons__button:nth-last-child(2) {
  border: 2px solid rgba(44, 39, 56, 0.86);
}
.buttons__group:nth-last-child(3) .buttons__button:nth-last-child(1) {
  border: 1px solid #dbe2ea;
  -webkit-box-shadow: 0px 2px 4px rgba(44, 39, 56, 0.08);
          box-shadow: 0px 2px 4px rgba(44, 39, 56, 0.08);
  opacity: 0.24;
  color: #2c2738;
}

.buttons__button {
  padding: 8px 28px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #7c9cbf;
  border-radius: 6px;
  background-color: #ffffff;
  border: 1px solid #dbe2ea;
  -webkit-box-shadow: 0px 1px 2px rgba(44, 39, 56, 0.0001), 0px 2px 4px rgba(44, 39, 56, 0.08);
          box-shadow: 0px 1px 2px rgba(44, 39, 56, 0.0001), 0px 2px 4px rgba(44, 39, 56, 0.08);
  margin-right: 40px;
  margin-bottom: 30px;
  cursor: pointer;
}
.buttons__button:nth-last-child(2) {
  border: 2px solid #0880ae;
}
.buttons__button:last-child {
  margin-right: 0;
}

.buttons-medium {
  margin-bottom: 80px;
}
.buttons-medium .buttons__button {
  padding: 14px 45px;
}

.buttons-large {
  margin-bottom: 80px;
}
.buttons-large .buttons__button {
  padding: 18px 65px;
}

.alerts__alert {
  padding: 18px 66px 18px 24px;
  width: 800px;
  color: #0880ae;
  border-radius: 10px;
  -webkit-box-shadow: 0px 12px 24px rgba(44, 39, 56, 0.04), 0px 24px 48px rgba(44, 39, 56, 0.08);
          box-shadow: 0px 12px 24px rgba(44, 39, 56, 0.04), 0px 24px 48px rgba(44, 39, 56, 0.08);
  margin-bottom: 30px;
}
.alerts__alert:nth-last-child(6) .closebtn {
  color: #0880ae;
}
.alerts__alert:nth-last-child(5) {
  color: #ffffff;
  background: #2c2738;
}
.alerts__alert:nth-last-child(4) {
  color: #ffffff;
  background: #0880ae;
}
.alerts__alert:nth-last-child(3) {
  color: #ffffff;
  background: #f2ac57;
}
.alerts__alert:nth-last-child(2) {
  color: #ffffff;
  background: #14a38b;
}
.alerts__alert:nth-last-child(1) {
  color: #ffffff;
  background: #ff7171;
  margin-bottom: 80px;
}

.closebtn {
  color: #ffffff;
  font-weight: bold;
  float: right;
  font-size: 25px;
  line-height: 18px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.closebtn:hover {
  color: #ff3c3c;
}

.progressbars__progress {
  background: #dbe2ea;
  border-radius: 100px;
  height: 9px;
  width: 800px;
  margin-bottom: 50px;
}
.progressbars__progress:nth-last-of-type(1) .progressbars__progress-value {
  -webkit-animation: load 10s normal forwards;
          animation: load 10s normal forwards;
  width: 60%;
  background: #ff7171;
}
.progressbars__progress:nth-last-of-type(2) .progressbars__progress-value {
  -webkit-animation: load 10s normal forwards;
          animation: load 10s normal forwards;
  width: 80%;
  background: #14a38b;
}
.progressbars__progress:nth-last-of-type(3) .progressbars__progress-value {
  background: #f2ac57;
  max-width: 30%;
}

.progressbars__progress-value {
  -webkit-animation: load 40s normal forwards;
          animation: load 40s normal forwards;
  -webkit-box-shadow: 0 10px 40px -10px #fff;
          box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #0880ae;
  height: 8px;
  width: 100%;
}

@-webkit-keyframes load {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes load {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.circle-loaders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.circle-loaders__circle-loader {
  margin-right: 30px;
  rotate: 90deg;
}

.logos__title {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 81px;
}
.logos__span {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #7c9cbf;
}
.logos__logotypes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
}
.logos__logo:first-of-type {
  margin-right: 60px;
}

.avatars {
  margin-bottom: 80px;
}
.avatars__title {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 81px;
}
.avatars__span {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #7c9cbf;
}
.avatars__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.avatars__group-img {
  margin-right: 30px;
}
.avatars__group:last-child .avatars__group-img:last-child {
  margin-right: 0;
}

.chat {
  margin-bottom: 80px;
}
.chat__title {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 81px;
}
.chat__span {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #7c9cbf;
}
.chat__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}
.chat__message {
  position: relative;
  width: 240px;
  background: #ffffff;
  border-radius: 6px;
  padding: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #756f86;
  margin-right: 40px;
}

.chat__group:nth-of-type(1) .chat__message:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 9px solid transparent;
  border-right: 0px solid transparent;
  border-top: 18px solid #d5d6d7;
  border-bottom: 18px solid transparent;
  left: -3px;
  top: 58px;
  rotate: 12deg;
}

.chat__group:nth-of-type(2) .chat__message:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 9px solid transparent;
  border-right: 0px solid transparent;
  border-top: 18px solid #d5d6d7;
  border-bottom: 18px solid transparent;
  right: 3px;
  top: 58px;
}

.chat__group:nth-of-type(3) .chat__message:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 9px solid transparent;
  border-right: 0px solid transparent;
  border-top: 18px solid #d5d6d7;
  border-bottom: 18px solid transparent;
  left: 2px;
  top: -36px;
  rotate: 180deg;
}

.chat__group:nth-of-type(4) .chat__message:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 7px solid transparent;
  border-right: 2px solid transparent;
  border-top: 19px solid #d5d6d7;
  border-bottom: 18px solid transparent;
  right: -3px;
  top: -36px;
  rotate: 192deg;
}

.chat__message:nth-of-type(2) {
  background: #2c2738;
  color: #ffffff;
  opacity: 0.86;
}

.chat__message:nth-of-type(3) {
  background: #6f96ff;
  color: #ffffff;
  opacity: 0.86;
}

.chat__message:nth-of-type(4) {
  background: #ff5689;
  color: #ffffff;
  opacity: 0.86;
}
.chat__message:nth-of-type(4):before {
  border-top: 19px solid #ff5689;
}

.popover {
  margin-bottom: 80px;
}
.popover__title {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 81px;
}
.popover__span {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #7c9cbf;
}
.popover__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}
.popover__group:last-child {
  margin-bottom: 0;
}
.popover__content {
  position: relative;
  padding: 16px;
  background: #ffffff;
  border-radius: 8px;
  max-width: 180px;
  margin-right: 30px;
}
.popover__content::before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 16px solid transparent;
  border-top: 11px solid #d5d6d7;
  right: 87px;
  top: -10px;
  rotate: 51deg;
}
.popover__content-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 4px;
}
.popover__content-paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.popover__content:nth-of-type(1) {
  background-color: #ffffff;
}
.popover__content:nth-of-type(1)::before {
  content: "";
  border-top: 19px solid #ffffff;
}
.popover__content:nth-of-type(2) {
  background-color: #2c2738;
  color: #ffffff;
}
.popover__content:nth-of-type(2)::before {
  content: "";
  border-top: 19px solid #2c2738;
}
.popover__content:nth-of-type(3) {
  background-color: #0880ae;
  color: #ffffff;
}
.popover__content:nth-of-type(3)::before {
  content: "";
  border-top: 19px solid #0880ae;
}
.popover__content:nth-of-type(4) {
  background-color: #f2ac57;
  color: #ffffff;
}
.popover__content:nth-of-type(4)::before {
  content: "";
  border-top: 19px solid #f2ac57;
}
.popover__content:nth-of-type(5) {
  background-color: #14a38b;
  color: #ffffff;
}
.popover__content:nth-of-type(5)::before {
  content: "";
  border-top: 19px solid #14a38b;
}
.popover__content:nth-of-type(6) {
  background-color: #ff7171;
  color: #ffffff;
}
.popover__content:nth-of-type(6)::before {
  content: "";
  border-top: 19px solid #ff7171;
}

.popover__group:nth-of-type(2) .popover__content:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-top-color: inherit;
  border-left: 5px solid transparent;
  border-right: 16px solid transparent;
  border-top: 11px solid inherit;
  right: -10px;
  top: 35px;
  rotate: 141deg;
}

.popover__group:nth-of-type(3) .popover__content:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-top-color: inherit;
  border-left: 5px solid transparent;
  border-right: 16px solid transparent;
  border-top: 11px solid inherit;
  left: 74px;
  top: 78px;
  rotate: 230deg;
}

.popover__group:nth-of-type(4) .popover__content:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-top-color: inherit;
  border-left: 5px solid transparent;
  border-right: 16px solid transparent;
  border-top: 11px solid inherit;
  left: -10px;
  top: 40px;
  rotate: -40deg;
}

.tooltips {
  margin-bottom: 80px;
}
.tooltips__title {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 81px;
}
.tooltips__span {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #7c9cbf;
}
.tooltips__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}
.tooltips__content {
  position: relative;
  padding: 7px 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #756f86;
  width: 120px;
  background: #ffffff;
  border-radius: 4px;
  text-align: center;
  border-radius: 6px;
  margin-right: 30px;
}

.tooltips__content:nth-of-type(2) {
  background: #2c2738;
  color: #ffffff;
}

.tooltips__content:nth-of-type(3) {
  background: #0880ae;
  color: #ffffff;
}

.tooltips__content:nth-of-type(4) {
  background: #f2ac57;
  color: #ffffff;
}

.tooltips__content:nth-of-type(5) {
  background: #14a38b;
  color: #ffffff;
}

.tooltips__content:nth-of-type(6) {
  background: #ff7171;
  color: #ffffff;
}

.group1 .tooltips__content::after {
  content: "";
  position: absolute;
  top: -30%;
  right: 45%;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(255, 255, 255) transparent transparent transparent;
  rotate: 182deg;
}

.group2 .tooltips__content::after {
  content: "";
  position: absolute;
  top: 35%;
  right: -8%;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(255, 255, 255) transparent transparent transparent;
  rotate: 270deg;
}

.group3 .tooltips__content::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 45%;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(255, 255, 255) transparent transparent transparent;
}

.group4 .tooltips__content::after {
  content: "";
  position: absolute;
  top: 34%;
  left: -8%;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(255, 255, 255) transparent transparent transparent;
  rotate: 90deg;
}

.misc__title {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 81px;
}
.misc__span {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #7c9cbf;
}
.misc__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.misc__group {
  margin-right: 40px;
}
.misc__group:last-child {
  margin-right: 0;
}
.misc__paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #756f86;
}