@mixin title {
	font-style: normal;
	font-weight: 600;
	font-size: 28px;
	line-height: 36px;
	margin-bottom: 81px;
}
@mixin name {
	font-style: normal;
	font-weight: 600;
	font-size: 34px;
	line-height: 44px;
}
@mixin span {
	font-family: "IBM Plex Sans";
	font-style: normal;
	font-weight: 600;
	font-size: 28px;
	line-height: 36px;
	color: #7c9cbf;
}
*,
*:before,
*:after {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
	text-decoration: none;
}

body {
	font-family: "IBM Plex Sans", sans-serif;
	box-sizing: border-box;
	color: #2c2738;
}

.wrapper {
	padding: 60px 60px 180px 60px;
	height: 100%;
	background: #ebf4f8;
}
.container {
	width: 100%;
	height: 100%;
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
}
.typeface {
	margin-bottom: 80px;
	&__span {
		@include span;
	}
	&__title {
		@include title;
	}

	&__img {
		margin-right: 60px;
	}
	&__fonts {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__content {
		display: flex;
	}

	&__source {
		font-style: normal;
		font-weight: 600;
		font-size: 20px;
		line-height: 28px;
		color: #7c9cbf;
	}

	&__name {
		@include name;
	}

	&__font {
	}

	&__style {
		font-weight: 400;
		font-size: 20px;
		line-height: 26px;
		&:nth-of-type(2) {
			font-family: "IBM Plex Sans";
			font-style: normal;
			font-weight: 600;
		}
	}

	&__links {
	}

	&__link-title {
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 21px;
	}

	&__link {
		font-weight: 400;
		font-size: 16px;
		line-height: 21px;
		text-decoration-line: underline;
		color: #0880ae;
	}
}

.colors {
	&__span {
		@include span;
	}
	&__title {
		@include title;
	}

	&__group {
		display: grid;
		grid-template-columns: 20% 20% 20% 20%;
		gap: 40px;
	}
}

.color {
	width: 300px;
	height: 300px;
	background: #0880ae;
	box-shadow: 0px 16px 56px rgba(44, 39, 56, 0.08);
	border-radius: 15%;
	display: grid;
	align-content: end;
	margin-bottom: 80px;
	color: #ffffff;

	&:nth-of-type(2) {
		background-color: #f2ac57;
		color: #ffffff;
	}
	&:nth-of-type(3) {
		background-color: #14a38b;
	}
	&:nth-of-type(4) {
		background-color: #ff7171;
	}
	&:nth-of-type(5) {
		background-color: #2c2738;
	}
	&:nth-of-type(6) {
		background-color: #756f86;
	}
	&:nth-of-type(7) {
		background-color: #7c9cbf;
		color: #2c2738;
	}
	&:nth-of-type(8) {
		background-color: #ffffff;
		color: #2c2738;
	}
	&:nth-of-type(9) {
		background-color: #dbe2ea;
		color: #2c2738;
	}
	&:nth-of-type(10) {
		background-color: #ebf4f8;
		color: #2c2738;
	}

	&__label {
		margin-left: 40px;
		opacity: 0.56;
	}

	&__name {
		@include name;
		margin-left: 40px;
		margin-bottom: 40px;
	}
}

.icons {
	&__span {
		@include span;
	}
	&__title {
		@include title;
	}

	&__group {
		padding: 30px 24px;
		margin-bottom: 40px;
		background-color: #ffffff;
		border-radius: 13px;
		color: #0880ae;
		&:nth-of-type(2) {
			background-color: #7c9cbf;
			color: #ffffff;
		}
		&:nth-of-type(3) {
			color: #2c2738;
		}
	}

	&__img {
		margin: 24px;
	}
}

// FORMS

.form {
	padding: 25px;
	width: 500px;
	margin-bottom: 80px;

	&__title {
		@include title;
	}

	&__span {
		@include span;
	}

	&__content {
		display: grid;
		grid-template-columns: repeat(3, 100%);
		column-gap: 80px;
	}

	&__fields {
	}

	&__field:nth-last-child(3) {
		grid-template-rows: 4;
	}

	&__label {
		font-weight: 500;
		font-size: 16px;
		line-height: 21px;
		color: #756f86;
		margin-bottom: 10px;
	}

	&__input {
		outline: none;
		display: block;
		width: 100%;
		border-radius: 2px;
		border: 1px solid #ccc;
		padding: 10px;
		box-sizing: border-box;
		border-radius: 7px;
		margin-bottom: 40px;
	}

	&__error {
		color: red;
		text-align: left;
		font-size: 12px;
		display: block;
		margin-top: 3px;
		display: none;
	}

	&__true {
		color: rgb(82, 57, 57);
		text-align: left;
		font-size: 12px;
		display: block;
		margin-top: 3px;
		display: none;
	}

	&__select {
		display: block;
		width: 100%;
		border-radius: 2px;
		border: 1px solid #ccc;
		padding: 10px;
		box-sizing: border-box;
		margin-bottom: 10px;
		border-radius: 7px;
		outline: none;
		margin-bottom: 40px;
	}

	&__textarea {
		width: 100%;
		height: 10rem;
		resize: none;
		font-weight: 400;
		font-size: 16px;
		line-height: 21px;
		color: #7c9cbf;
		padding: 10px;
		border-radius: 7px;
		margin-bottom: 40px;
	}
}

input:valid:not(:placeholder-shown) + .form__true {
	display: block;
}

input:invalid:not(:placeholder-shown) {
	border-color: red;
}
input:invalid:not(:placeholder-shown) + .form__error {
	display: block;
}

.form__textarea:invalid:not(:placeholder-shown) {
	border-color: red;
}
.form__textarea:invalid:not(:placeholder-shown) + .form__error {
	display: block;
}

.counters {
	display: flex;
	margin-bottom: 80px;

	&__number {
		display: flex;
		margin-right: 40px;
		&:last-child {
			margin-right: 0;
		}
	}

	&__minus {
	}

	&__plus {
	}
}

.check {
	max-width: 568px;

	&__buttons {
		margin-bottom: 80px;
	}

	&__button {
		margin-left: 60px;
	}
	&__title {
		margin-right: 8px;
	}
}

.radio {
	&__buttons {
		display: grid;
		grid-template-columns: 35% 35%;
		justify-content: start;
		margin-bottom: 80px;
	}

	&__button {
	}

	&__input {
	}

	&__title {
		margin-right: 8px;
	}
}

.switchers {
	margin-bottom: 80px;
}

.switcher {
	&__input[type="checkbox"] {
		height: 0;
		width: 0;
		visibility: hidden;

		&:checked + .switcher__title {
			background: #070707;
		}
		&:checked + .switcher__title:after {
			left: calc(100% - 5px);
			transform: translateX(-100%);
		}
	}

	&__title {
		cursor: pointer;
		text-indent: -9999px;
		width: 52px;
		height: 30px;
		background: rgb(255, 255, 255);
		display: block;
		border-radius: 100px;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			top: 5px;
			left: 5px;
			width: 15px;
			height: 15px;
			background: #fff;
			border-radius: 90px;
			transition: 0.3s;
			border: 1px solid #2c2738;
		}
		&:active:after {
			width: 130px;
		}
	}
}
.sliders {
	margin-bottom: 80px;

	&__input {
	}
}

.tags-buttons {
	display: flex;
	margin-bottom: 80px;
	&__btn {
		position: relative;
		box-shadow: 0px 1px 2px rgba(44, 39, 56, 0.0001), 0px 2px 4px rgba(44, 39, 56, 0.08);
		border-radius: 17px;
		padding: 8px 39px 8px 16px;
		background: #ffffff;
		border: 1px solid #dbe2ea;
		font-weight: 500;
		font-size: 14px;
		line-height: 18px;
		color: #ffffff;
		cursor: pointer;
		margin-right: 20px;
		&:last-child {
			margin-left: 0;
		}
		&::after {
			content: "";
			width: 2px;
			height: 18px;
			background: #ffffff;
			display: block;
			transform: rotate(45deg) translateX(0px);
			position: absolute;
			top: 0;
			margin-left: 50px;
			margin-top: 8px;
			transform: rotate(-45deg);
		}
		&::before {
			content: "";
			width: 2px;
			height: 18px;
			background: #ffffff;
			display: block;
			transform: rotate(45deg) translateX(0px);
			position: absolute;
			top: 0;
			margin-left: 50px;
			margin-top: 8px;
		}
	}
}
.tags-buttons__btn:nth-last-child(6) {
	color: #7c9cbf;
	&::after {
		background: #7c9cbf;
	}
	&::before {
		background: #7c9cbf;
	}
}
.tags-buttons__btn:nth-last-child(5) {
	background: #2c2738;
	color: #ffffff;
}
.tags-buttons__btn:nth-last-child(4) {
	background: #0880ae;
}
.tags-buttons__btn:nth-last-child(3) {
	background: #f2ac57;
}
.tags-buttons__btn:nth-last-child(2) {
	background: #14a38b;
}
.tags-buttons__btn:nth-last-child(1) {
	background: #ff7171;
}

// SIMPLE BUTTONS

.buttons {
	width: 520px;
	display: flex;
	flex-direction: column;
	margin-bottom: 80px;

	&__group {
		display: flex;
		&:nth-last-child(1) {
			.buttons__button {
				background-color: transparent;
				border: 2px solid rgba(44, 39, 56, 0.24);

				&:nth-last-child(1) {
					opacity: 0.24;
				}
				color: #2c2738;
				&:nth-last-child(2) {
					color: #756f86;
					border: 2px solid #756f86;
				}
				&:nth-last-child(3) {
					color: #0880ae;
					border: 2px solid #0880ae;
				}
				&:nth-last-child(4) {
					color: #7c9cbf;
					border: 2px solid #7c9cbf;
				}
			}
		}

		&:nth-last-child(2) {
			.buttons__button {
				color: #ebf4f8;
				background: #0880ae;
				box-shadow: 0px 6px 12px rgba(44, 39, 56, 0.08), 0px 12px 24px rgba(44, 39, 56, 0.16);
				&:nth-last-child(1) {
					background: #dbe2ea;
					box-shadow: 0px 2px 4px rgba(44, 39, 56, 0.08);
					color: #2c2738;
					opacity: 0.24;
				}
				&:nth-last-child(2) {
					border: 2px solid rgba(44, 39, 56, 0.86);
				}
			}
		}

		&:nth-last-child(3) {
			.buttons__button:nth-last-child(1) {
				border: 1px solid #dbe2ea;
				box-shadow: 0px 2px 4px rgba(44, 39, 56, 0.08);
				opacity: 0.24;
				color: #2c2738;
			}
		}
	}
}
.buttons__button {
	padding: 8px 28px;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	color: #7c9cbf;
	border-radius: 6px;
	background-color: #ffffff;
	border: 1px solid #dbe2ea;
	box-shadow: 0px 1px 2px rgba(44, 39, 56, 0.0001), 0px 2px 4px rgba(44, 39, 56, 0.08);
	margin-right: 40px;
	margin-bottom: 30px;
	cursor: pointer;

	&:nth-last-child(2) {
		border: 2px solid #0880ae;
	}

	&:last-child {
		margin-right: 0;
	}
}

.buttons-medium {
	margin-bottom: 80px;

	.buttons__button {
		padding: 14px 45px;
	}
}

.buttons-large {
	margin-bottom: 80px;
	.buttons__button {
		padding: 18px 65px;
	}
}

.alerts {
	&__alert {
		padding: 18px 66px 18px 24px;
		width: 800px;
		color: #0880ae;
		border-radius: 10px;
		box-shadow: 0px 12px 24px rgba(44, 39, 56, 0.04), 0px 24px 48px rgba(44, 39, 56, 0.08);
		margin-bottom: 30px;

		&:nth-last-child(6) {
			.closebtn {
				color: #0880ae;
			}
		}

		&:nth-last-child(5) {
			color: #ffffff;
			background: #2c2738;
		}

		&:nth-last-child(4) {
			color: #ffffff;
			background: #0880ae;
		}

		&:nth-last-child(3) {
			color: #ffffff;
			background: #f2ac57;
		}
		&:nth-last-child(2) {
			color: #ffffff;
			background: #14a38b;
		}
		&:nth-last-child(1) {
			color: #ffffff;
			background: #ff7171;
			margin-bottom: 80px;
		}
	}
}
.closebtn {
	color: #ffffff;
	font-weight: bold;
	float: right;
	font-size: 25px;
	line-height: 18px;
	cursor: pointer;
	transition: 0.3s;
}

.closebtn:hover {
	color: #ff3c3c;
}

// PROGRESS

.progressbars__progress {
	background: #dbe2ea;
	border-radius: 100px;
	height: 9px;
	width: 800px;
	margin-bottom: 50px;
	&:nth-last-of-type(1) .progressbars__progress-value {
		animation: load 10s normal forwards;
		width: 30%;
		background: #ff7171;
	}
	&:nth-last-of-type(2) .progressbars__progress-value {
		animation: load 10s normal forwards;
		width: 50px;
		background: #14a38b;
	}
	&:nth-last-of-type(3) .progressbars__progress-value {
		background: #f2ac57;
	}
}

.progressbars__progress-value {
	animation: load 40s normal forwards;
	box-shadow: 0 10px 40px -10px #fff;
	border-radius: 100px;
	background: #0880ae;
	height: 8px;
	width: 65%;
}

@keyframes load {
	0% {
		width: 0;
	}
	100% {
		width: 65%;
	}
}

// CIRCLE LOADERS
.circle-loaders {
	display: flex;

	&__circle-loader {
		margin-right: 30px;
		rotate: 90deg;
	}
}

// COUNTERS
.counters {
	&__counter {
		display: flex;
		margin-right: 40px;
		&:last-child {
			margin-right: 0;
		}
	}
}
.counter {
	&__minus {
		background: #ffffff;
		box-shadow: inset -1px 0px 0px #dbe2ea;
		border-radius: 6px 0px 0px 6px;
		padding: 11px 15px;
		color: #0880AE;
		font-weight: 400;
		font-size: 20px;
		cursor: pointer;
		
	}

	&__input {
		text-align: center;
		border: none;
		padding: 16px 20px;
		font-weight: 400;
		font-size: 16px;
		line-height: 21px;
		color: #2c2738;
	}

	&__plus {
		background-color: #fff;
		box-shadow: inset 1px 0px 0px #dbe2ea;
		border-radius: 0px 6px 6px 0px;
		padding: 11px 15px;
		color: #0880AE;
		font-weight: 400;
		font-size: 20px;
		cursor: pointer;
	
	}
}
